[submodule "morphe-patches"]
	path = morphe-patches
	url = https://github.com/wuc656/morphe-patches.git
[submodule "morphe-patches-library"]
	path = morphe-patches-library
	url = https://github.com/wuc656/morphe-patches-library.git
